<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>Категории</h4>
                    <p class="text-body-secondary">тут в плане расположение всех категорий</p>
                    <ul class="list-unstyled">
                        {% for cat in categories %}
                            <li><a href="#" class="text-white">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
{#                    <p class="text-body-secondary">Добавьте некоторую информацию о#}
{#                        альбом ниже, автор или любой другой фоновый контекст. Сделайте это несколько#}
{#                        предложения длинные, чтобы люди могли почерпнуть полезную информацию. Тогда ссылка#}
{#                        их на некоторые сайты социальных сетей или контактную информацию.</p>#}
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Сайт рецептов</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>