{% extends 'base.html' %}
{% load static %}


{% block menu %}
    {% include 'mainapp/includes/inc_header_menu.html' %}
{% endblock menu %}

{% block content %}

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Что приготовить?</h1>
                    <p class="lead text-body-secondary">
                        Над этим вопросом ежедневно задумываются миллионы людей по всему миру.
                        Надеюсь, рецепты моего кулинарного сайта помогут решить этот вопрос вам сегодня.
                        На сайте вы найдете рецепты, праздничные и повседневные, с подробными инструкциями и пошаговыми
                        фотографиями.</p>
                    <p>
                        {% include 'mainapp/includes/inc_main_menu.html' %}
                    </p>
                </div>
            </div>
        </section>


        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for recipe in recipes %}
                        <div class="col">

                            <div class="card shadow-sm">
                                <div class="card-body">
                                    {% if recipe.img %}
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                             src="{{ recipe.img.url }}" alt="">
                                    {% else %}
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                             src="{% static 'img/salati_prev_cat.jpeg' %}">
                                    {% endif %}
                                    <div>
                                        <a href="{% url 'mainapp:read_recipe' recipe.id %}"
                                           style="text-decoration: none;"><h4 class="card-text">{{ recipe.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </main>
{% endblock content %}

{#<div class="col">#}
{#    <div class="card shadow-sm">#}
{#        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"#}
{#             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">#}
{#            <title>Placeholder</title>#}
{#            <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>#}
{#        </svg>#}
{#        <div class="card-body">#}
{#            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional#}
{#                content. This content is a little bit longer.</p>#}
{#            <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>#}
{#                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
{#                </div>#}
{#                <small class="text-body-secondary">9 mins</small>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}