{% extends 'base.html' %}


{% block menu %}
    {% include 'mainapp/includes/inc_header_menu.html' %}
{% endblock menu %}


{% block content %}

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Редактирование рецепта</h1>

                        {% include 'mainapp/includes/inc_main_menu.html' %}
                    </p>
                </div>
            </div>
        </section>
        <div class="mb-5 container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}<br>
                <input type="submit" class="btn btn-outline-success" value="Применить изменения">
            </form>
        </div>


    </main>


{% endblock content %}